@font-face {
  font-family: 'SourceSans3';
  src: url(./font/SourceSans3-Regular.ttf);
}

body {
  font-family: 'SourceSans3';
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100vh;
}

.nav-bar {
  grid-column: 1 / 2;
}

.nav-bar > h1 {
  padding-left: 10px;
}

.main {
  grid-column: 2 / 3;
}

.add-projects,
.project,
.add-task {
  width: 100%;
  background: none;
  border: none;
}

.add-projects:hover,
.new-projects-container > button:hover,
.add-task:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.active-tab {
  background-color: rgba(100, 100, 100, 0.3);
}

.remove-active {
  background: none;
}

.add-projects,
.add-task {
  font-size: 2rem;
}

.new-projects-container > button {
  text-align: left;
  padding: 10px 0 10px 20px;
  font-size: 1.3rem;
}

.add-task-dialog > div {
  display: flex;
  flex-direction: column;
}

.task {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.task > div {
  margin: 0;
  border: 0;
  border: solid;
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  padding: 0 20px;
}

.task > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: all;
}